<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="~{layout/layout}">


<!-- Side bar -->

<th:block layout:fragment="content">

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Begin Page Content -->
				<div class="container-fluid">
					<div class="card shadow mb-4">
						<div class="card-body font-size-4">
							<div class="row">
								<div class="my-tap-body">
									<div class="m-0 font-weight-bold text-success h5 active" onclick="location.href='mypage.html'">회원정보</div>
									<div class="m-0 font-weight-bold text-success h5" onclick="location.href='myboard.html'">내가쓴글</div>
									<div class="m-0 font-weight-bold text-success h5" onclick="location.href='myalert.html'">알림목록</div>
									<div class="m-0 font-weight-bold text-success h5" onclick="location.href='myscrap.html'">스크랩</div>
								</div>
								
								<!-- Divider -->
								<div class="my-divider">
									<hr class="sidebar-divider d-none d-md-block">
								</div>
								<div class="my-body">
									<div class="my-content">
										<form id="form" method="post" enctype="multipart/form-data">
											<div class="my-picture">
												<input type="file" name="profile" accept="image/*,.gif">
												<img class="user-img" th:src="${user.picture}">
												<div class="my-picture-add">
													<img class="plus-img" th:src="@{/img/icons/plus-circle.svg}">
												</div>
											</div>
											<table>
												<tr>
													<td>아이디</td>
													<td th:text="${user.email}">ID</td>
												</tr>
												<tr>
													<td>닉네임</td>
													<td th:text="${user.username}">UserName</td>
												</tr>
												<tr>
													<td>가입일</td>
													<td th:text="${#dates.format(user.firstDate, 'yyyy-dd-MM HH:mm')}">First Date</td>
												</tr>
												<tr>
													<td>최근로그인</td>
													<td th:text="${#dates.format(user.lastDate, 'yyyy-dd-MM HH:mm')}">Last Date</td>
												</tr>
											</table>
											<div class="my-footer">
												<input type="hidden" id="seq" name="seq" th:value="${user.seq}">
												<input type="hidden" id="picture" name="picture" th:value="${user.picture}">
												<input type="hidden" id="email" name="email" th:value="${user.email}">
												<input type="hidden" id="username" name="username" th:value="${user.username}">
												<button type="submit" id="infoUpdateBtn" class="btn btn-outline-success font-weight-bold">회원정보변경</button>
												<button type="button" class="btn btn-outline-success font-weight-bold" data-toggle="modal" data-target="#pwChangeModal">비밀번호변경</button>
												<button type="button" onclick="" class="btn btn-outline-success font-weight-bold">로그아웃</button>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
						

				</div>
				<!-- /.container-fluid -->

			</div>
			<!-- End of Main Content -->

			<!-- Modal -->
			<div class="modal fade" id="pwChangeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title font-weight-bold text-success">비밀번호확인</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<form class="form-group">
								<div class="input-group">
									<input type="password" class="form-control" id="cur-pw" placeholder="현재 비밀번호를 입력하세요.">
								</div>
							</form>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-success" id="pw-change-btn">확인</button>
							<button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
						</div>
					</div>
				</div>
			</div>


			<!-- Footer -->
	
	</div>
	<!-- End of Content Wrapper -->

	<script type="text/javascript">
		$(document).on("click", "#pw-change-btn", function() {
			alert($("#cur-pw").val());
			location.href = "mypwchange.html";
		})
		
		$(document).on("click", ".my-picture-add", function() {
			$(".my-picture input").click();
		})
		
		$(document).on("change", "input[name='profile']", function() {
			setImageFromFile(this, '.user-img', userImageUpdate);
		})
		
		// 특정요소에 첨부한 이미지 미리보기
		function setImageFromFile(input, expression, callback) {
			if (input.files && input.files[0]) {
				var reader = new FileReader();

				reader.onload = function(e) {
					$(expression).attr('src', e.target.result);
					callback(expression);
				}
				reader.readAsDataURL(input.files[0]);
			}
		}
		
		function userImageUpdate(expression) {
			var formData = new FormData($('#form')[0]);
			console.log(formData);
			$.ajax({
				type : "post",
				url : "/user/mypage/update",
				data: formData,
				processData: false,
				contentType: false,
				cache: false,
				async: false,
				success : function(d) {
					var type = d.content;
					if(type != '' && type != undefined) {
						$(expression).attr("src", $("#picture").val());
						type = type.replace(/&quot;/gi, "\"");
						$("input[name='profile']").val("");
						alert("회원 정보 변경 실패 \n ->" + type);
					}
				},
				error : function(XMLHttpRequest, textStatus, errorThrown) {
					alert(errorThrown);
				}
			})
		}
	</script>
</th:block>

</html>


