<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!-- 공통 헤드 LOGIN -->
<th:block th:replace="layout/fragmentsLogin/header :: headFragment">
	<title>Plog</title>
	
	<!-- 스크립트 -->
</th:block>
<th:block layout:fragment="css"></th:block>

<body class="bg-gradient-primary">
	<div class="container">
	<!-- 본문-->
	<th:block layout:fragment="content"></th:block>

	<!-- 스크립트 -->
	<th:block layout:fragment="script"></th:block>
	<!-- 공통 스크립트-->
	<th:block th:replace="layout/fragmentsLogin/script :: scriptFragment"></th:block>
	</div>
</body>
</html>