<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="~{layout/layout}">


<!-- Side bar -->

<th:block layout:fragment="content">
	<!-- Content Wrapper -->
	<div id="content-wrapper" class="d-flex flex-column">
	
		<!-- Main Content -->
		<div id="content">
	
			<!-- Top bar -->
	
			<!-- Begin Page Content -->
			<div class="container-fluid">
	
				<!-- Content Row -->
	
				<div class="row">
	
	
					<!-- Content Column -->
					<div class="col-lg-6 mb-4">
						<!-- Project Card Example -->
						<div class="card shadow mb-4">
							<div class="card-header py-3">
								<a href="board.html"><h6 class="m-0 font-weight-bold text-success">자유게시판</h6></a>
							</div>
							<div class="card-body font-size-4">
								<!-- 읽은 게시글은 strong으로 감싼다. -->
								<!-- 댓글 수를 나타내는 텍스트는 strong안의 code로 감싼다. -->
								<p class="text-gray-700 p-1 m-0 board-title"><a href="#"><strong>자유게시판 게시글 1<span class="text-success font-weight-bold reply-mark">[1]</span></strong><img class="reply-mark" th:src="@{/img/icons/picture.png}"><img class="reply-mark" th:src="@{/img/icons/new.png}"></a></p>
								<p class="text-gray-700 p-1 m-0 board-title"><a href="#"><strong>자유게시판 게시글 2<span class="text-success font-weight-bold reply-mark">[2]</span><img class="reply-mark" th:src="@{/img/icons/picture.png}"></strong><img class="reply-mark" th:src="@{/img/icons/new.png}"></a></p>
								<p class="text-gray-700 p-1 m-0 board-title"><a href="#"><strong>자유게시판 게시글 3</strong><img class="reply-mark" th:src="@{/img/icons/new.png}"></a></p>
								<p class="text-gray-700 p-1 m-0 board-title"><a href="#">Lorem Ipsum is simply dummy text of the printing and typesetting industry. ...<img class="reply-mark" th:src="@{/img/icons/new.png}"></a></p>
								<p class="text-gray-700 p-1 m-0 board-title"><a href="#">자유게시판 게시글 5<span class="text-success font-weight-bold reply-mark">[5]</span><img class="reply-mark" th:src="@{/img/icons/new.png}"></a></p>
								<p class="text-gray-700 p-1 m-0 board-title"><a href="#">자유게시판 게시글 6<img class="reply-mark" th:src="@{/img/icons/picture.png}"></a></p>
								<p class="text-gray-700 p-1 m-0 board-title"><a href="#">자유게시판 게시글 7<img class="reply-mark" th:src="@{/img/icons/picture.png}"></a></p>
								<p class="text-gray-700 p-1 m-0 board-title"><a href="#">자유게시판 게시글 8<span class="text-success font-weight-bold reply-mark">[15]</span></a></p>
								<p class="text-gray-700 p-1 m-0 board-title"><a href="#">자유게시판 게시글 9<span class="text-success font-weight-bold reply-mark">[3]</span></a></p>
								<p class="text-gray-700 p-1 m-0 board-title"><a href="#">자유게시판 게시글 10<span class="text-success font-weight-bold reply-mark">[8]</span></a></p>
							</div>
						</div>
					</div>
	
					<!-- Content Column -->
					<div class="col-lg-6 mb-4">
						<!-- Project Card Example -->
						<div class="card shadow mb-4">
							<div class="card-header py-3">
								<a href="board.html"><h6 class="m-0 font-weight-bold text-success">Java</h6></a>
							</div>
							<div class="card-body font-size-4">
								<!-- 읽은 게시글은 strong으로 감싼다. -->
								<!-- 댓글 수를 나타내는 텍스트는 strong안의 code로 감싼다. -->
								<p class="text-gray-700 p-1 m-0 none-data">게시글이 없습니다.</p>
								
							</div>
						</div>
					</div>
	
					<!-- Content Column -->
					<div class="col-lg-6 mb-4">
						<!-- Project Card Example -->
						<div class="card shadow mb-4">
							<div class="card-header py-3">
								<a href="board.html"><h6 class="m-0 font-weight-bold text-success">Spring</h6></a>
							</div>
							<div class="card-body font-size-4">
								<!-- 읽은 게시글은 strong으로 감싼다. -->
								<!-- 댓글 수를 나타내는 텍스트는 strong안의 code로 감싼다. -->
								<p class="text-gray-700 p-1 m-0 board-title"><a href="#"><strong>자유게시판 게시글 1<span class="text-success font-weight-bold reply-mark">[1]</span></strong><img class="reply-mark" th:src="@{/img/icons/picture.png}"><img class="reply-mark" th:src="@{/img/icons/new.png}"></a></p>
								<p class="text-gray-700 p-1 m-0 board-title"><a href="#"><strong>자유게시판 게시글 2<span class="text-success font-weight-bold reply-mark">[2]</span><img class="reply-mark" th:src="@{/img/icons/picture.png}"></strong><img class="reply-mark" th:src="@{/img/icons/new.png}"></a></p>
								<p class="text-gray-700 p-1 m-0 board-title"><a href="#"><strong>자유게시판 게시글 3</strong><img class="reply-mark" src="img/icons/new.png"></a></p>
								<p class="text-gray-700 p-1 m-0 board-title"><a href="#">Lorem Ipsum is simply dummy text of the printing and typesetting industry. ...<img class="reply-mark" th:src="@{/img/icons/new.png}"></a></p>
								<p class="text-gray-700 p-1 m-0 board-title"><a href="#">자유게시판 게시글 5<span class="text-success font-weight-bold reply-mark">[5]</span><img class="reply-mark" th:src="@{/img/icons/new.png}"></a></p>
								<p class="text-gray-700 p-1 m-0 board-title"><a href="#">자유게시판 게시글 6<img class="reply-mark" th:src="@{/img/icons/picture.png}"></a></p>
								<p class="text-gray-700 p-1 m-0 board-title"><a href="#">자유게시판 게시글 7<img class="reply-mark" th:src="@{/img/icons/picture.png}"></a></p>
								<p class="text-gray-700 p-1 m-0 board-title"><a href="#">자유게시판 게시글 8<span class="text-success font-weight-bold reply-mark">[15]</span></a></p>
								<p class="text-gray-700 p-1 m-0 board-title"><a href="#">자유게시판 게시글 9<span class="text-success font-weight-bold reply-mark">[3]</span></a></p>
								<p class="text-gray-700 p-1 m-0 board-title"><a href="#">자유게시판 게시글 10<span class="text-success font-weight-bold reply-mark">[8]</span></a></p>
							</div>
						</div>
					</div>
	
					<!-- Content Column -->
					<div class="col-lg-6 mb-4">
						<!-- Project Card Example -->
						<div class="card shadow mb-4">
							<div class="card-header py-3">
								<a href="board.html"><h6 class="m-0 font-weight-bold text-success">Database</h6></a>
							</div>
							<div class="card-body font-size-4">
								<!-- 읽은 게시글은 strong으로 감싼다. -->
								<!-- 댓글 수를 나타내는 텍스트는 strong안의 code로 감싼다. -->
								<p class="text-gray-700 p-1 m-0 board-title"><a href="#"><strong>자유게시판 게시글 1<span class="text-success font-weight-bold reply-mark">[1]</span></strong><img class="reply-mark" th:src="@{/img/icons/picture.png}"><img class="reply-mark" th:src="@{/img/icons/new.png}"></a></p>
								<p class="text-gray-700 p-1 m-0 board-title"><a href="#"><strong>자유게시판 게시글 2<span class="text-success font-weight-bold reply-mark">[2]</span><img class="reply-mark" th:src="@{/img/icons/picture.png}"></strong><img class="reply-mark" th:src="@{/img/icons/new.png}"></a></p>
								<p class="text-gray-700 p-1 m-0 board-title"><a href="#"><strong>자유게시판 게시글 3</strong><img class="reply-mark" src="img/icons/new.png"></a></p>
								<p class="text-gray-700 p-1 m-0 board-title"><a href="#">Lorem Ipsum is simply dummy text of the printing and typesetting industry. ...<img class="reply-mark" th:src="@{/img/icons/new.png}"></a></p>
								<p class="text-gray-700 p-1 m-0 board-title"><a href="#">자유게시판 게시글 5<span class="text-success font-weight-bold reply-mark">[5]</span><img class="reply-mark" th:src="@{/img/icons/new.png}"></a></p>
								<p class="text-gray-700 p-1 m-0 board-title"><a href="#">자유게시판 게시글 6<img class="reply-mark" th:src="@{/img/icons/picture.png}"></a></p>
								<p class="text-gray-700 p-1 m-0 board-title"><a href="#">자유게시판 게시글 7<img class="reply-mark" th:src="@{/img/icons/picture.png}"></a></p>
								<p class="text-gray-700 p-1 m-0 board-title"><a href="#">자유게시판 게시글 8<span class="text-success font-weight-bold reply-mark">[15]</span></a></p>
								<p class="text-gray-700 p-1 m-0 board-title"><a href="#">자유게시판 게시글 9<span class="text-success font-weight-bold reply-mark">[3]</span></a></p>
								<p class="text-gray-700 p-1 m-0 board-title"><a href="#">자유게시판 게시글 10<span class="text-success font-weight-bold reply-mark">[8]</span></a></p>
							</div>
						</div>
					</div>
				</div>
	
				<!-- Content Row -->
				<div class="row">
	
							
				</div>
	
			</div>
			<!-- /.container-fluid -->
	
		</div>
		<!-- End of Main Content -->
	
		<!-- Footer -->
	
	</div>
	<!-- End of Content Wrapper -->
</th:block>


</html>