<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kyoni.plog.mapper.UserMapper">
	<select id="getUser" resultType="com.kyoni.plog.domain.UserEntity">
		SELECT m.seq as 'seq'
			, m.email as 'email'
			, m.username as 'username'
			, m.pwd as 'pwd'
			, a.authority_code as 'authorityCode'
			, m.google_sub as 'googleSub'
		FROM member m
		LEFT JOIN member_authority a ON a.member_id = m.seq
		WHERE m.email = #{email} or m.google_sub = #{email}
	</select>
	
	<select id="getUserRoles" resultType="com.kyoni.plog.domain.UserRoleEntity">
		SELECT seq as 'seq'
			, member_id as 'member_id'
			, authority_code as 'roleName'
		FROM member_authority
		WHERE member_id = #{memberId}
	</select>
	
	<insert id="addUser" parameterType="com.kyoni.plog.vo.UserVO">
		INSERT INTO member (email, username, pwd, google_sub)
		VALUES(#{email}, #{username}, #{pwd}, #{googleSub})
	</insert>
	
	<select id="getLastIndex" resultType="int">
		SELECT LAST_INSERT_ID() as 'seq';
	</select>
	
	<insert id="addAuthority">
		INSERT INTO member_authority (member_id, authority_code)
		VALUES(#{seq}, 'ROLE_USER')
	</insert>
</mapper>