<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kyoni.plog.mapper.UserMapper">
	<select id="getUser" resultType="com.kyoni.plog.domain.UserEntity">
		SELECT m.seq as 'seq'
			, CASE WHEN m.email IS NOT NULL THEN m.email ELSE '' END as 'email'
			, m.username as 'username'
			, m.pwd as 'pwd'
			, a.authority_code as 'authorityCode'
			, CASE WHEN m.oauth_key IS NOT NULL THEN m.oauth_key ELSE '' END as 'oauthKey'
			, CASE WHEN m.picture IS NOT NULL THEN m.picture ELSE '' END as 'picture'
		FROM member m
		LEFT JOIN member_authority a ON a.member_id = m.seq
		WHERE m.email = #{email} or m.oauth_key = #{oauthKey}
	</select>
	
	<select id="getUserRoles" resultType="com.kyoni.plog.domain.UserRoleEntity">
		SELECT seq as 'seq'
			, member_id as 'member_id'
			, authority_code as 'roleName'
		FROM member_authority
		WHERE member_id = #{memberId}
	</select>
	
	<insert id="addUser" parameterType="com.kyoni.plog.vo.UserVO">
		INSERT INTO member (email, username, pwd, oauth_key, picture)
		VALUES(#{email}, #{username}, #{pwd}, #{oauthKey}, #{picture})
	</insert>
	
	<select id="getLastIndex" resultType="int">
		SELECT LAST_INSERT_ID() as 'seq';
	</select>
	
	<insert id="addAuthority">
		INSERT INTO member_authority (member_id, authority_code)
		VALUES(#{seq}, 'ROLE_USER')
	</insert>
	
	<update id="updateUserEmail">
		UPDATE member
		SET email = #{email}
		WHERE oauth_key = #{oauthKey}
	</update>
</mapper>